body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.header,
.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 4px;
    gap: 630px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-right: 8px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 600;
}


.top {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}

.left {
    width: 400px;
    word-wrap: break-word;
    color: #F9FAF8;
    margin-top: -35px;
}

.left h4 {
    font-size: 38px;
    font-weight: bolder;
}

.left p {
    margin-top: -30px;
    font-size: 18px;
    color: #e5e7eb
}
button {
    background-color: #3882F6;
    border: 1px solid royalblue;
    color: #F9FAF8;
    padding: 5px 10px;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}

.right img{
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
}

.middle {
    padding-bottom: 25px;
}

.middle h3 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
}

.card img {
    height: 200px;
    width: auto;
    border: 2px solid #1F2937;
    box-shadow: 2px 4px 16px #1F2937;
}

.crew-info {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.card p {
    font-size: 14px;
    margin-top: -8px;
}

.card h4 {
    font-size: larger;
    text-align: center;
}

.bottom {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.bottom h2 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    padding-top: 15px;
}

.bottom p{
    align-self: flex-end;
    margin-top: -15px;
    font-style: oblique;
    font-weight: 900;
}

.bottom-bottom {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.alert {
    background-color: #3882F6;
    width: 650px;
    display: flex;
    border: 1px solid royalblue;
    color: #F9FAF8;
    padding: 5px 10px;
    border-radius: 8px;
    justify-content: space-evenly;
}

.alert button {
    border-color: #e5e7eb;
    align-self: center;
}

.call {
    display: flex;
    flex-direction: column;
}

.call p {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.footer p {
    color:#e5e7eb;
}
